<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhao.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liuhao.entity.Order">
        <id column="id" property="id" />
        <result column="name" property="username" />
        <result column="uid" property="userId" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, uid
    </sql>

    <select id="selectOrderById" resultMap="BaseResultMap">

        select * from orders where  id = #{id}
    </select>
</mapper>
